@import './_mixin.scss';
@import './_config.scss';
@import './_reset.scss';
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .inner-wrap {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        header {
            width: 100%;
            height: pxTorem(44px);
            background-color: $header-bg;
            border-bottom: 1px solid $header-line-bg;
            position: relative;
            .icon-sign {
                width: pxTorem(44px);
                height: pxTorem(44px);
                @include bg('../imgs/icon-sign.png');
                background-size: pxTorem(20px);
                position: absolute;
                top: 0;
                left: 0;
            }
            .icon-person {
                width: pxTorem(44px);
                height: pxTorem(44px);
                @include bg('../imgs/icon-person.png');
                background-size: pxTorem(20px);
                position: absolute;
                top: 0;
                right: 0;
            }
            .icon-back{
                width: pxTorem(44px);
                height: pxTorem(44px);
                @include bg('../imgs/icon-back.png');
                background-size: pxTorem(20px);
                position: absolute;
                top: 0;
                left: 0;
            }
            .tab-wrap {
                width: pxTorem(120px);
                height: pxTorem(44px);
                line-height: pxTorem(44px);
                margin: 0 auto;
                display: flex;
                position: relative;
                span {
                    flex: 1;
                    text-align: center;
                    &.active {
                        color: $tab-active-color;
                    }
                }
                .line {
                    width: pxTorem(60px);
                    height: pxTorem(2px);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: transform .5s;
                    &.move {
                        transform: translateX(pxTorem(60px));
                    }
                    &:before {
                        content: '';
                        width: pxTorem(32px);
                        height: 2px;
                        background-color: $tab-active-color;
                        margin: 0 auto;
                        display: block;
                    }
                }
            }
            .search{
                margin:pxTorem(5px) pxTorem(20px) pxTorem(5px) pxTorem(44px);
                height: pxTorem(34px);
                background: $write-color;
                border:1px solid $border-color;
                display: flex;
                .icon-search{
                    width:pxTorem(34px);
                    height: pxTorem(34px);
                    @include bg('../imgs/icon-search.png');
                    background-size:pxTorem(18px);
                    border-right: 1px solid $border-color;
                }
                .ipt{
                    flex:1;
                    height: pxTorem(34px);
                    padding:0 pxTorem(10px);
                    font-size:pxTorem($fz14);
                }
                .search-btn{
                    width:pxTorem(44px);
                    height: pxTorem(34px);
                    font-size: pxTorem($fz14);
                    background-color: transparent;
                    outline:none;
                    border:none;
                    border-left:1px solid $border-color;
                }
            }
        }
        .con {
            width: 100%;
            flex: 1;
            overflow: hidden;
            background-color: lightyellow;
        }
    }
}

.block {
    width: 100%;
    border-bottom: pxTorem(10px) solid $border-color;
}

.title {
    width: 100%;
    border-left: pxTorem(6px) solid $line-orange;
    line-height: pxTorem(44px);
    border-bottom: 1px solid $border-color;
    padding-left: pxTorem(10px);
}

.list-t-b {
    width: 100%;
    padding: pxTorem(15px);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    dl {
        width: 33.3%;
        dt {
            width: pxTorem(100px);
            height: pxTorem(120px);
            display: inline-block;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
        }
        dd {
            width: pxTorem(100px);
            display: inline-block;
            text-align: left;
        }
        &:nth-child(2),
        &:nth-child(5) {
            text-align: center;
        }
        &:nth-child(3),
        &:nth-child(6) {
            text-align: right;
        }
    }
}

.label-list{
    margin:pxTorem(15px);
    display: flex;
    flex-wrap: wrap;
    .label-item{
        padding:pxTorem(4px) pxTorem(10px);
        font-size:pxTorem($fz14);
        border:1px solid $border-color;
        background-color: $tag-bg1;
        margin-right:pxTorem(10px);
        margin-bottom:pxTorem(10px);
        border-radius: pxTorem(4px);
        &:nth-child(3n+2){
            background-color: $tag-bg2;
        }
        &:nth-child(3n){
            background-color: $tag-bg3;
        }
    }
}